@import "nullstyle.scss";


html,body{
    height: 100%;
    line-height: 1;
    font-size: 14px;
    background-color:#333;
    font-family: Arial, Helvetica, sans-serif;
    
    overflow-x: hidden;
}
.wrapper{
    padding: 30px;
    height: 100%;
}

.title{
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin:0px 0px 30px 0px;    
}

// УКАЗАННЫЕ КЛАССЫ ЯВЛ. КЛАССАМИ ПО УМОЛЧАНИЮ И МОГУТ БЫТЬ ПЕРЕНАЗНАЧЕНЫ СПЕЦ.СВОЙСТВАМИ.

// если слайдер размещен внутрь флекс элемента, то работа слайдера может быть
// неверной. Чтобы это исправить флекс элементу внутри которого находится
// слайдер необходимо добавить css параметр min-width:0; после этого 
// принудительно обновить страницу и проблема должна исчезнуть
.image-slider {
    padding:30px 0px 70px 0px;
    &__wrapper {}
    &__slide {
    }
    &__image {
        text-align: center;
        & img{
            // max-width: 100%;
            max-width: 800px;
        }
    }
}

/* Стрелки */
// стили стрелок по умолчанию реализованы с помощью иконочного шрифта
// и выводятся в всевдо элемент after для стандартных классов.
// поскольку это иконочный шрифт то мы легко и просто можем поменять 
// цвет и размер стрелок.
.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after{
    color:#fff;
    font-size: 80px;
}

/* Пагинация */
// как и в случае со стрелками мы можем влиять на стандартные стили
// наших булеттов
.image-slider .swiper-pagination {
    bottom: 150px;
}
/* Буллеты */
.image-slider .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    background-color:#fff;
}
/* Фракции */  // обращаемся к классу по умолчанию для фракций при желании поменять стили
.image-slider .swiper-pagination-fraction{
    font-size:20px;
    color:#fff;
}

/* Прогрессбар */  // обращаемся к классу по умолчанию для прогрессбара при желании поменять стили
.image-slider .swiper-pagination-progressbar-fill {
    background-color:aquamarine;
}

/* Скролл */  // обращаемся к классу по умолчанию для изменения стилей
.image-slider .swiper-scrollbar-drag{
    cursor:pointer;
    background-color:aquamarine;
    
}
// Для изменения позиционирования скроллбара можем использовать стили:
// .swiper-container {
//     position: relative;
//   }
  
//   .swiper-scrollbar {
//     position: absolute;
//     top: 10px;
//     right: 10px;
//     height: 10px;
//     background-color: #ccc;
//     border-radius: 5px;
//   }
